<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="http://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="v-app">
      <h1>{{title}}</h1>
      <form>
        <input v-model="text" type="text" />
        <button>Send</button>
      </form>
      <p>
        <ul>
          <li v-form="msg of messages">{{msg}}</li>
        </ul>
      </p>
    </div>
    <form id="v-app">
      <h1>{{title}}</h1>
      <input type="text" name="username" placeholder="Digite seu usuário" />
      <div class="messages"></div>
      <input
        v-model="text"
        type="text"
        name="message"
        placeholder="Digite sua mensagem"
      />
      <button type="submit">Enviar</button>
    </form>
    <script>
      var app = new Vue({
        el: '#v-app',
        data: {
          title: 'Websockets tester',
          text: '',
          messages: ['test'],
        },
        methods: {},
      });
    </script>
  </body>
</html> -->
